.image-work {
  border-radius: 29% 71% 33% 67% / 50% 26% 74% 50%;
  max-width: 500pt;
  max-height: 500pt;
  display: block;
  width: 100%;
  height: auto;
}

.image-wrap {
  position: relative;
  height: 400pt;
  width: 400pt;
}

.image-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: var(--secondaryColor);
  visibility: hidden;
  border-radius: 71% 29% 70% 30% / 0% 66% 34% 100%;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.image-wrap p {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50pt;
}

.image-wrap:hover .image-description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
