@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* @import url('https://fonts.cdnfonts.com/css/ganyo'); */
/* @import url('https://fonts.cdnfonts.com/css/larsseit-font-family'); */

:root {
  --textColor: #000000;
  /* --secondaryColor: #82dd8e; */
  --secondaryColor: teal;
  --mainColor: #000000;
  --mainColorLight: #ffffff;
}

* {
  padding: 0;
  margin: 5pt;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ganyo', sans-serif; */
  /* font-family: 'Larsseit', sans-serif; */

  font-size: 17pt;
  /* font-size: 20pt; */
  color: var(--textColor);
  background-color: var(--mainColorLight);
}

/* Add background image?

.app-container {
  color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../Images/blackandWhite.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} */

@media only screen and (max-width: 1024px) {
  * {
    padding: 0;
    margin: 3pt;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
  }
}
