@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --textColor: #d3fff3;
  --secondaryColor: #181a1b;
  --mainColor: #8a61b3;
  --mainColorLight: #f1cc02;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 17pt;
  color: var(--textColor);
  background-color: var(--secondaryColor);
}

@media only screen and (max-width: 1024px) {
  * {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    color: var(--textColor);
    background-color: var(--secondaryColor);
  }
}
