@import url('https://fonts.cdnfonts.com/css/flower-powers');
@import url('https://fonts.cdnfonts.com/css/kbtheflowerfarm');
@import url('https://fonts.cdnfonts.com/css/flower1');
@import url('https://fonts.cdnfonts.com/css/nebulo');
/* See which one Lil prefers ^^ */

.navbar-button {
  min-width: 100%;
  width: 200pt;
  /* height: 32pt; */
  height: auto;
  /* font-size: 20pt; */
  font-size: 35pt;
  /* font-family:  'Flower Powers', sans-serif; */
  /* font-family: 'KBTheFlowerFarm', sans-serif; */
  font-family: 'flower1', sans-serif;
  /* font-family: 'Nebulo', sans-serif; */
  border-radius: 4pt;
  border-color: var(--mainColor);
}

.navbar-button:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
  color: var(--mainColorLight);
}

.navbar-buttons-container {
  margin-top: 20pt;
  display: flex;
  justify-content: center;
  gap: 20pt;
  margin-bottom: 20pt;
}

@media only screen and (max-width: 1200px) {
  .navbar-button {
    width: 180pt;
  }
  .navbar-buttons-container {
    gap: 2pt;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar-button {
    min-width: 100%;
    /* font-size: 17pt; */
    font-size: 30pt;
    /* height: 30pt; */
  }
  .navbar-buttons-container {
    margin-top: 10pt;
    gap: 2pt;
    margin-bottom: 10pt;
    flex-direction: column;
  }
}
