.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 20pt;
}

.title-image-container img {
  border-radius: 4pt;
}

.gallery-item {
  display: flex;
  flex-direction: row;
  gap: 20pt;
}

.gallery-item img {
  max-width: 100%;
}

.title-image-container {
  display: flex;
  flex-direction: column;
  min-width: 45%;
}

.gallery-item p {
  margin-top: 45pt;
}

@media only screen and (max-width: 1024px) {
  .gallery-item {
    display: flex;
    flex-direction: column;
    gap: 7pt;
  }
  .gallery-item img {
    max-width: 100%;
    margin: 0;
  }
  .gallery-item p {
    margin-top: 0pt;
  }
  .title-image-container h1 {
    margin-left: 0;
  }
}
