/* 
.carousel-container {
  margin: 0 !important;
} */

.testimonial-container div {
  margin: 0;
  /* justify-content: space-around; */
}

/* .carousel-container {
  display: flex;
  justify-content: space-around;
} */

.carousel-caption-bottom {
  color: black !important;
}

.testimonial-container {
  padding: 0pt;
}

.carousel-container {
  background-color: var(--mainColorLight) !important;
}

.carousel-image {
  margin: 0 !important;
}

.carousel-caption-bottom {
  margin: 0 !important;
}

.testimonials-container p {
  padding: 0;
  margin-bottom: 0pt !important;
  margin-top: 50pt !important;
  font-family: 'flower1', sans-serif;
  font-size: 35pt;
}

@media only screen and (max-width: 1024px) {
  .testimonial-container {
    padding: 0pt;
  }
  .testimonials-container p {
    padding: 0;
    margin-bottom: 0pt !important;
    margin-top: 20pt !important;
    font-family: 'flower1', sans-serif;
    font-size: 25pt;
  }
}
