.carousel-caption-bottom {
  color: black !important;
}

.testimonial-container {
  padding: 0pt;
}

.carousel-container {
  /* background-color: var(--secondaryColor) !important; */
  background-color: white !important;

  /* margin: 0; */
  /* margin: 0 !important; */
}

/* See here which margin I have to get rid of to avoid seeing the colour in the background - when taking of the margin from * in the console it is gone. */

.carousel-image {
  /* margin: 0; */
  margin: 0 !important;
}

.carousel-caption-bottom {
  /* margin: 0; */
  margin: 0 !important;
}

.testimonials-container p {
  padding: 0;
  margin-bottom: 0pt !important;
  margin-top: 50pt !important;
  font-family: 'flower1', sans-serif;
  font-size: 35pt;
}

@media only screen and (max-width: 1024px) {
  .testimonial-container {
    padding: 0pt;
  }
  .testimonials-container p {
    padding: 0;
    margin-bottom: 0pt !important;
    margin-top: 20pt !important;
    font-family: 'flower1', sans-serif;
    font-size: 25pt;
  }
}
